<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Select the exercise you would like to Sculpt with!</p>
    <a href="/exercises/add" class="btn btn-dark btn-lg">Select Exercise</a>
</div>