:root {
  --white: #f5f5f5;
  --green: #4caf50;
  --yellow: #d4a017;
  --orange: #e67e22;
  --red: #c0392b;
  --purple: #8e44ad;
  --blue: #2980b9;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  padding: 40px 0;
  /* background-image: url('/img/dark-gym-background-desktop.webp'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-transform: capitalize;
}

.app-title {
  color: var(--white);
  text-align: center;
}

.nav-tabs {
  justify-content: center;
  margin-top: 40px;
}

.nav-tabs .nav-link {
  font-size: 18px;
  color: var(--white);
  font-weight: bold;
  text-transform: capitalize;
  width: fit-content;
}

/* .nav-tabs .nav-link.active { */
  /* color: var(--red); */
  /* border-bottom: 3px solid var(--red); */
/* } */

.sculptor__header {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sculptor__button-add-exercise {
  position: absolute;
  right: 0;
}

[class^="sculptor__excercise-muscle"] {
  /* styles for any muscle element regardless of the suffix */
}

.sculptor__excercise-muscle-white {
  background-color: var(--white);
  color: black;
}

.sculptor__excercise-muscle-red {
  background-color: var(--red);
}

.sculptor__excercise-muscle-orange {
  background-color: var(--orange);
  color: black;
}

.sculptor__excercise-muscle-yellow {
  background-color: var(--yellow);
  color: black;
}

.sculptor__excercise-muscle-blue {
  background-color: var(--blue);
  color: black;
}

.sculptor__excercise-muscle-purple {
  background-color: var(--purple);
}

.sculptor__excercise-muscle-green {
  background-color: var(--green);
  color: black;
}

.sculptor__workout {
  display: none;
  max-width: 1000px;
  padding: 40px 0;
  margin: auto;
}

.sculptor__workout.active {
  display: block;
}

.sculptor__workout-title {
  color: var(--white);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sculptor__excercise-row {
  color: var(--white);
}

.sculptor__excercise-row span {
  min-width: 120px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

.sculptor__workout-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 120px;
}

.sculptor__workout-button:hover {
  background-color: var(--yellow);
  color: black;
}

.workout-form__input {
  max-width: 100px;
}

.workout-form__input-container {
  display: inline-block;
}

.workout-form__input {
  text-align: center;
}

.add-exercise-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
  padding: 40px 20px;
}


/* ExerciseDialog */
/* src/components/ExerciseDialog.css */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* dark transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-container {
  background: #fff; /* or any preferred background */
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  /* Additional styles as needed */
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}